PORT=5000
MONGODB_URI=mongodb://localhost:27017/imp-expo
CORS_ORIGIN=http://localhost:3000

# Resend API Key for sending emails
RESEND_API_KEY=re_123456789


# Cloudinary for file uploads
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
